<p>We/fightagainstcorona.herokuapp.com MAKES NO GUARANTEE OF VALIDITY of data</p>

<p>This webpage may route you to different urls. We promise no security or any businees code of conduct voilation.</p>
                        
<p>None of the contributors, sponsors, administrators or anyone else connected with fightagainstcorona.herokuapp.com in any way whatsoever can be responsible for the appearance of any inaccurate or libelous information or for your use of the information contained in or linked from these web pages.</p>

<button class="btn btn-primary" (click)="backClicked()">Go back</button>