<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">
            <img style="height: 33px; width:85px;" src="assets/img/guch.png">
        </a>
        <a class="" [routerLink]="['/createpost']"></a>
        <a class="" [routerLink]="['/createpost']"></a>
        <a class="" [routerLink]="['/createpost']"></a>
        <a class="" [routerLink]="['/createpost']"></a>
        <a class="button-anchor heading-color" [routerLink]="['/createpost']">CREATE POST</a>
        <a class="button-anchor heading-color" [routerLink]="['/viewpost']">VIEW POST</a>
        <a class="button-anchor heading-color" [routerLink]="['/aboutus']">ABOUT US</a>
    </div>
</nav>
<div style="height: 4px; background-color: #f57202;"></div>