<div class="container">
    <div class="row" style="height: 14px;">
    </div>
    <div class="row">
        <div class="col-sm-4" style="margin-top: 5px;">
            <div class="card">
                <!-- <div class="card-header">
                    Trending #
                </div> -->
                <div class="card-body">
                    <a>
                        <img style="width: 100%;" src="assets/img/fightagainstcorona_logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="margin-top: 5px;">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#bangalore">Bangalore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#india">India</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#world">World</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="bangalore" class="container tab-pane active"><br>
                            <h3>COVID-19 cases in Bangalore</h3>
                            <p>Total cases : 39</p>
                            <p>Total recoverd : 5</p>
                            <p>Total death : 0</p>
                        </div>
                        <!-- <div id="bangalore" class="container tab-pane active"><br>
                                <h3>COVID-19 cases in Bangalore</h3>
                                <p>Total cases : 78</p>
                                <p>Total recoverd : 5</p>
                                <p>Total death : 1</p>
                            </div> -->
                        <div id="india" class="container tab-pane fade"><br>
                            <h3>COVID-19 cases in India</h3>
                            <p>Total cases : 903</p>
                            <p>Total recoverd : 87</p>
                            <p>Total death : 21</p>
                        </div>
                        <div id="world" class="container tab-pane fade"><br>
                            <h3>COVID-19 cases in the World</h3>
                            <p>Total cases : 5,98,070</p>
                            <p>Total recoverd : 2,00,103</p>
                            <p>Total death : 27,761</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="margin-top: 5px;">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#outdoor">Outdoor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#indoor">Indoor</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="outdoor" class="container tab-pane active"><br>
                            <h3>COVID-19 cases in Bangalore</h3>
                            <p>Total cases : 39</p>
                            <p>Total recoverd : 5</p>
                            <p>Total death : 0</p>
                            <a style="margin-top:5px;" href="#" class="btn btn-primary">More</a>
                            <!-- <a class="">
                                <img src="assets/img/fightagainstcorona_logo.png" alt="logo">
                            </a> -->
                        </div>
                        <div id="indoor" class="container tab-pane fade"><br>
                            <h3>Indoor activities you can do</h3>
                            <br>
                            <a target="_blank" href="https://quickdraw.withgoogle.com/">Quickdraw</a>
                            <br>
                            <a target="_blank" href="www.goonj.org/support-covid-19-affected">Goonj</a>
                            <br>
                            <a style="margin-top:5px;" href="#" class="btn btn-primary">More</a>
                            <!-- <a>
                                <img src="assets/img/fightagainstcorona_logo.png" alt="logo">
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="margin-top: 5px;">
            <div class="card">
                <div class="card-header">
                    Trending #
                </div>
                <div class="card-body">
                    <a>
                        <img style="width: 100%;" src="assets/img/fightagainstcorona_logo.png" alt="logo">
                    </a>
                    <a>
                        <img style="margin-top:5px; width: 100%;" src="assets/img/crona.png" alt="logo">
                    </a>
                    <a>
                        <img style="margin-top:5px; width: 100%;" src="assets/img/crona.png" alt="logo">
                    </a>
                    <a>
                        <img style="margin-top:5px; width: 100%;" src="assets/img/crona5.jpeg" alt="logo">
                    </a>
                    <a>
                        <img style="margin-top:5px; width: 100%;" src="assets/img/crona3.jpeg" alt="logo">
                    </a>
                    <a style="margin-top:5px;" href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="margin-top: 5px;">

        </div>
        <div class="col-sm-4" style="margin-top: 5px;">

        </div>
    </div>
    <div class="row" style="height: 14px;">
    </div>
</div>
<app-footer></app-footer>