<div class="container">
    <div class="row" style="height: 14px;">
    </div>
    <div class="row">
        <div class="col-sm-12" style="margin-top: 5px;">
            <div class="card">
                <div class="card-header textAlignCenter">
                    COVID-19 CORONAVIRUS PANDEMIC
                </div>
                <div *ngIf="covid" class="card-body textAlignCenter text-muted medium mb-4 mb-lg-0">
                    Last updated: {{covid.last_updated}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="margin-top: 5px;">
            <div class="card">
                <div class="card-body">
                    <a>
                        <img style="width: 100%;" src="assets/img/fightagainstcorona_logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="margin-top: 5px;">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#bangalore">Bangalore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#india">India</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#world">World</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div *ngIf="covid" class="tab-content">
                        <div id="bangalore" class="container tab-pane active text-muted medium mb-4 mb-lg-0"><br>
                            <h3 class="heading_2">COVID-19 cases in Bangalore</h3>
                            <p>Total cases : {{covid.bangalore_total_cases}}</p>
                            <p>Total recoverd : {{covid.bangalore_total_recoverd}}</p>
                            <p>Total death : {{covid.bangalore_total_death}}</p>
                        </div>
                        <div id="india" class="container tab-pane fade text-muted medium mb-4 mb-lg-0"><br>
                            <h3 class="heading_2">COVID-19 cases in India</h3>
                            <p>Total cases : {{covid.india_total_cases}}</p>
                            <p>Total recoverd : {{covid.india_total_recoverd}}</p>
                            <p>Total death : {{covid.india_total_death}}</p>
                        </div>
                        <div id="world" class="container tab-pane fade text-muted medium mb-4 mb-lg-0"><br>
                            <h3 class="heading_2">COVID-19 cases in the World</h3>
                            <p>Total cases : {{covid.world_total_cases}}</p>
                            <p>Total recoverd : {{covid.world_total_recoverd}}</p>
                            <p>Total death : {{covid.world_total_death}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="margin-top: 5px;">
            <div class="card">
                <div class="card-header heading_1">
                    Game
                </div>
                <div class="card-body">
                    <ol class="list-group list-group-flush" *ngIf="games">
                        <li *ngFor="let game of games; index as i;" class="list-group-item">
                            <span style="padding-right:6px; color: #495057;">{{i + 1 }}.</span>
                            <a (click)="increaseCount(i)" class="text-muted medium mb-4 mb-lg-0 badge_1" target="_blank"
                                href="{{game.link}}">{{game.name}}</a><span style="float: right;margin-top: 3px;"
                                class="medium badge badge-primary badge-pill">{{game.count}}</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="margin-top: 5px;">
            <div class="card">
                <div class="card-header heading_1">
                    Trending #
                </div>
                <div class="card-body">
                    <a>
                        <img style="width: 100%;" src="assets/img/covid-1.PNG" alt="logo">
                    </a>
                    <a>
                        <img style="margin-top:5px; width: 100%;" src="assets/img/Ramayan.PNG" alt="logo">
                    </a>
                    <a>
                        <img style="margin-top:5px; width: 100%;" src="assets/img/covid-19.PNG" alt="logo">
                    </a>
                    <a>
                        <img style="margin-top:5px; width: 100%;" src="assets/img/crona4.jpeg" alt="logo">
                    </a>
                    <a>
                        <img style="margin-top:5px; width: 100%;" src="assets/img/don'topenit.PNG" alt="logo">
                    </a>
                    <!-- <a style="margin-top:5px;" href="#" class="btn btn-primary">More</a> -->
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="margin-top: 5px;">

        </div>
        <div class="col-sm-4" style="margin-top: 5px;">

        </div>
    </div>
    <div class="row" style="height: 14px;">
    </div>
</div>
<app-footer></app-footer>