<div class="container">
    <div class="row" style="height: 14px;">
    </div>
    <div class="row">
        <div class="col-sm-12" style="margin-top: 5px;">
            <div class="card">
                <div class="card-header textAlignCenter">
                    COVID-19 CORONAVIRUS PANDEMIC
                </div>
                <div class="card-body textAlignCenter text-muted medium mb-4 mb-lg-0">
                    Last updated: March 29, 2020, 11:52 AM
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="margin-top: 5px;">
            <div class="card">
                <div class="card-body">
                    <a>
                        <img style="width: 100%;" src="assets/img/fightagainstcorona_logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="margin-top: 5px;">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#bangalore">Bangalore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#india">India</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#world">World</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="bangalore" class="container tab-pane active text-muted medium mb-4 mb-lg-0"><br>
                            <h3 class="heading_2">COVID-19 cases in Bangalore</h3>
                            <p>Total cases : 39</p>
                            <p>Total recoverd : 5</p>
                            <p>Total death : 0</p>
                        </div>
                        <div id="india" class="container tab-pane fade text-muted medium mb-4 mb-lg-0"><br>
                            <h3 class="heading_2">COVID-19 cases in India</h3>
                            <p>Total cases : 1037</p>
                            <p>Total recoverd : 85</p>
                            <p>Total death : 25</p>
                        </div>
                        <div id="world" class="container tab-pane fade text-muted medium mb-4 mb-lg-0"><br>
                            <h3 class="heading_2">COVID-19 cases in the World</h3>
                            <p>Total cases : 664,292</p>
                            <p>Total recoverd : 142,366</p>
                            <p>Total death : 30,890</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="margin-top: 5px;">
            <div class="card">
                <div class="card-header heading_1">
                    Game
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a class="text-muted medium mb-4 mb-lg-0" target="_blank" href="https://quickdraw.withgoogle.com/">Want to
                                draw</a></li>
                        <li class="list-group-item"><a class="text-muted medium mb-4 mb-lg-0" target="_blank" href="https://playtictactoe.org/">Tic tac toe</a>
                        </li>
                        <li class="list-group-item"><a class="text-muted medium mb-4 mb-lg-0" target="_blank" href="https://dmarie.com/timecap/">Your birthday
                                special</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="margin-top: 5px;">
            <div class="card">
                <div class="card-header heading_1">
                    Trending #
                </div>
                <div class="card-body">
                    <a>
                        <img style="width: 100%;" src="assets/img/covid-1.PNG" alt="logo">
                    </a>
                    <a>
                        <img style="margin-top:5px; width: 100%;" src="assets/img/Ramayan.PNG" alt="logo">
                    </a>
                    <a>
                        <img style="margin-top:5px; width: 100%;" src="assets/img/covid-19.PNG" alt="logo">
                    </a>
                    <a>
                        <img style="margin-top:5px; width: 100%;" src="assets/img/crona4.jpeg" alt="logo">
                    </a>
                    <a>
                        <img style="margin-top:5px; width: 100%;" src="assets/img/don'topenit.PNG" alt="logo">
                    </a>
                    <!-- <a style="margin-top:5px;" href="#" class="btn btn-primary">More</a> -->
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="margin-top: 5px;">

        </div>
        <div class="col-sm-4" style="margin-top: 5px;">

        </div>
    </div>
    <div class="row" style="height: 14px;">
    </div>
</div>
<app-footer></app-footer>