<!-- Masthead -->
<header class="mastheadOverride text-white text-center ">
    <!-- <div class="overlay"></div> -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h5 style="
                        color: rgb(59, 47, 47);
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22px;
                         " class="card-title"><strong>Create a post</strong></h5>
                        <form [formGroup]="createPost" (ngSubmit)="onSubmit(createPost.value)">
                            <div class="form-group">
                                <select class="form-control" id="community" formControlName="community">
                                    <option selected>Choose a community</option>
                                    <option>Music and dance</option>
                                    <option>Art and craft</option>
                                    <option>Education and training</option>
                                    <option>Politics and religion</option>
                                    <option>Space and gravity</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="title" class="form-control" id="title" formControlName="title"
                                    placeholder="Title">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="optionaltext" formControlName="optionaltext"
                                    placeholder="Text (Optional)" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control-file btn btn-primary btn-sm"
                                    formControlName="image" id="image">
                            </div>
                            <button style="float:right; min-width: 100px;" type="submit" class="btn btn-primary btn-sm">
                                Post </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="btn btn-primary btn-sm">Lorem</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>