<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row" style="height: 14px;">
        </div>
        <div class="row">

            <div class="col-sm-12" style="margin-top: 5px;">
                <div class="card">
                    <div class="card-header heading_1">
                        Contact
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="text-muted medium mb-4 mb-lg-0"> You can email us data/content you want to
                                    share on our website on below email address. <strong>fightac19@gmail.com</strong>
                                </p>
                            </li>
                            <li class="list-group-item"> <a class="text-muted medium mb-4 mb-lg-0"
                                    [routerLink]="['/disclaimer']"><strong>Disclaimer</strong></a>
                            </li>
                            <li class="list-group-item">
                                <div *ngIf="local" class="text-muted medium mb-4 mb-lg-0">
                                    <strong> Visitor Count</strong> : {{local.count}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>