<div class="container">
    <div class="row" style="height: 14px;">
    </div>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h5 style="
                    color: rgb(59, 47, 47);
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                     " class="card-title"><strong>Create a post</strong></h5>
                    <form [formGroup]="createPost" (ngSubmit)="onSubmit(createPost.value)">
                        <div class="form-group">
                            <select class="form-control" id="community" formControlName="community">
                                <option selected>Choose a community</option>
                                <option>Music and dance</option>
                                <option>Art and craft</option>
                                <option>Education and training</option>
                                <option>Politics and religion</option>
                                <option>Space and gravity</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="title" class="form-control" id="title" formControlName="title"
                                placeholder="Title">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="optionaltext" formControlName="optionaltext"
                                placeholder="Text (Optional)" rows="3"></textarea>
                        </div>
                        <!-- <div class="form-group" id="fileSelector"> -->
                        <!-- <input type="file" name = "fileUpload" id="fileUpload"> -->
                        <!-- <input type="file" (change)="onFileSelected($event)" /> -->
                        <!-- <span class="hidden-file">
                                <input type="file" #fileInput ng2FileSelect [uploader]="uploader"
                                    (onFileSelected)="onFileSelected($event)" />
                            </span>
                            <div class="btn-group" (click)="fileInput.click()">
                                <button type="button" class="btn btn-primary btn-group-icon btn-group-divider">
                                    <i class="ion-plus-round"></i>
                                </button>
                                <button type="button" class="btn btn-primary">
                                    Add Documents
                                </button>
                            </div> -->
                        <!-- </div> -->

                        <!-- <div class="form-group">
                            <input type="file" class="form-control-file btn btn-primary btn-sm" formControlName="image"
                                id="image">
                        </div> -->
                        <button style="float:right; min-width: 100px;" type="submit" class="btn btn-primary btn-sm">
                            Post </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <h4>Upload section</h4>
            <div id="fileSelector">
                <input type="file" id="fileUplaod" name="fileUpload" multiple ng2FileSelect [uploader]="uploader">
            </div>
            <div class="row uploadList" *ngFor="let item of uploader.queue">
                <div class="col-sm-4"> {{item.file.name}}</div>
                <div class="col-sm-4">
                    <div class="progress">
                        <div class="progress-bar bg-success" [ngStyle]="{width: item.progress + '%'}"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
                    <button class="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" *ngIf="uploader?.queue?.length > 0">
                    <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">Upload all</button>
                </div>
            </div>

            <div class="row">
                <h4>Download Section</h4>
                <div class="col-sm-4">
                    <div class="row" *ngFor="let item of attachmentList">
                        {{item.originalName}}
                    </div>
                </div>
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-4">

                </div>
            </div>

            <!-- <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Lorem</a>
                </div>
            </div> -->
        </div>
    </div>
</div>