<!-- Icons Grid -->
<section class="mastheadOverride bg-light text-center">
    <div class="container">
        <div class="row" style="">
            <h5 class="card-title heading" style="font-size: 1rem; padding-left: 1rem;">Trending today</h5>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-check m-auto text-primary"></i>
                        </div>
                        <h3>Easy to Use</h3>
                        <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-check m-auto text-primary"></i>
                        </div>
                        <h3>Easy to Use</h3>
                        <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-check m-auto text-primary"></i>
                        </div>
                        <h3>Easy to Use</h3>
                        <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-check m-auto text-primary"></i>
                        </div>
                        <h3>Easy to Use</h3>
                        <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 1rem;"></div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="form-group" style="margin-bottom: 0.5rem; margin-top: 0.5rem;">
                        <a class="btn btn-primary btn-sm" style="float: left; min-width: 100px; margin-left: .5rem;"
                            [routerLink]="['/createpost']">CreatePost</a>
                    </div>
                </div>
                <div *ngIf="posts">
                    <div *ngFor="let post of posts.reverse(); let i=index; let odd=odd; trackBy: trackById"
                        [class.odd]="odd">
                        <div class="card">
                            <div class="form-group" style="margin-bottom: 0.5rem; margin-top: 0.5rem;                         color: rgb(59, 47, 47);
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 22px;
                                text-align: left;
                                padding-left: .5rem;">
                                <strong>{{post.title}}</strong>
                                <span>*</span> <span>Posted by: </span><span>{{post.userId}}</span>
                            </div>
                            <div class="form-group" style="margin-bottom: 0.5rem; margin-top: 0.5rem;                         color: rgb(59, 47, 47);
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 22px;
                                text-align: left;
                                padding-left: .5rem;">
                                {{post.optionaltext}}
                            </div>
                            <div class="form-group" style="margin-bottom: 0.5rem; margin-top: 0.5rem;">
                                <div class="text-white showcase-img"
                                    style="height: 400px; width: auto; background-image: url('assets/img/bg-showcase-1.jpg');">
                                </div>


                                <!-- <a class="btn btn-primary btn-sm"
                                        style="float: left; min-width: 100px; margin-left: .5rem;">{{post._id}}</a> -->
                            </div>
                            <div class="form-group" style="margin-bottom: 0.5rem; margin-top: 0.5rem;">
                                <a class="btn btn-primary" data-toggle="collapse" href="{{'#' + post._id}}"
                                    role="button" aria-expanded="false" aria-controls="collapseExample"
                                    style="float: left; min-width: 100px; margin-left: .5rem;">257 comments</a>
                                <a class="" style="float: left; min-width: 100px; margin-left: .5rem;">share</a>
                                <a class="" style="float: left; min-width: 100px; margin-left: .5rem;">{{post._id}}</a>
                            </div>
                            <!-- <div class="form-group">
                                <form [formGroup]="createComment">
                                    <div class="collapse" id="{{post._id}}">
                                        <input type="title" style="" value="{{post._id}}" class="form-control"
                                            id="{{post._id}}" formControlName="postId">
                                        <div class="card card-body">
                                            <div class="form-group"> -->
                                                <!-- <app-comment [comments]="comments">
                                                </app-comment> -->
                                                <!-- <textarea class="form-control" id="comment" formControlName="comment"
                                                    placeholder="Write your comments here..." rows="3"></textarea>
                                                <button style="float:right; min-width: 100px;" type="submit"
                                                    class="btn btn-primary btn-sm">
                                                    Comment </button> -->
                                            <!-- </div>
                                        </div>
                                    </div>
                                </form>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Today's Top Growing Communities</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="btn btn-primary btn-sm">Lorem</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Today's Top Growing Communities</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="btn btn-primary btn-sm">Lorem</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Today's Top Growing Communities</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="btn btn-primary btn-sm">Lorem</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Today's Top Growing Communities</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="btn btn-primary btn-sm">Lorem</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>