<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" style="color:#495057">
                Latest posts <a class="btn btn-primary btn-sm"
                    style="float:right; min-width: 100px; margin-right: 10px;"
                    [routerLink]="['/shared/create-post']">Create new post</a>
            </div>
        </div>
        <div *ngIf="posts">
            <div *ngFor="let post of posts.reverse(); let i=index;">
                <div class="card text-center">
                    <div class="card-header">
                        <div class="tab-content">
                            <div class="container tab-pane active text-muted medium mb-4 mb-lg-0"><br>
                                <strong style="float: left;">{{post.title}}</strong><br>
                                <!-- <span>*</span> <span>Posted by: </span><span>{{post.userId}}</span> -->
                                <p style="text-align: left;"> {{post.optionaltext}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary btn-lg btn-block" [routerLink]="['/shared/posts']"> Load more</button>
        </div>
    </div>
</div>